.list {
    list-style-type: none;
    padding: 5px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    gap: 15px;

    .title_note {
        font-size: 23px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tag_note {
        font-size: 14px;
        font-family: monospace;
        border-bottom: 1px solid black;
    }

    .delete {
        color: red;
    }

    .edit {
        font-size: 14px;
    }

    .edit,
    .delete {
        cursor: pointer;
        user-select: none;
    }

    .clicks {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-end;
    }
}